#main {
    border: 3px solid rgb(236, 201, 135);
    border-radius: .5rem;
    padding: 15px 7px;
    max-width: 1000px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

a:hover {
    color: rgb(137, 137, 230);
}

#header {
    color: white;
    border-radius: .5rem;
    background-color: orange;
    display:flex;
    justify-content: center;
}

#link {
    display:flex;
    justify-content: center;
    font-size: large;
    margin: 50px 10px;
}

#button {
    color:orange;
    border: solid 1px orange;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
}

#button:hover {
    color: white;
    background-color: orange;
}

#addNote {
    margin: 50px;
    display: block;
}

input {
    width: 375px;
    height: 25px;
}

#noteText {
    width: 500px;
    height: 50px;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
}

input[name=text] {
    width: 100%;
}

#noteDate {
    font-size: x-small;
}

.hide {
    display: none;
}

.show {
    display: block;
}

#noteInfo {
    border-bottom: 1px solid rgb(236, 201, 135);
    border-radius: .3rem;
    padding: 0px 20px;
    cursor: pointer;
    margin: 0px 110px
}

ul {
    list-style-type: none;
}